@page "/counter"
@inherits FluxorComponent

@using BlazorWithFluxor.Client.Features.Counter.Store
@using BlazorWithFluxor.Client.Features.Hubs.CounterHub

@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState
@inject IState<CounterHubState> CounterHubState

<h1>Counter</h1>

<p>Current count: @CounterState.Value.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>
<button class="btn btn-outline-primary" @onclick="SaveCount">Save</button>
<button class="btn btn-outline-info" @onclick="LoadCount">Load</button>
<button class="btn btn-outline-danger" @onclick="ClearCount">Clear</button>
<button class="btn btn-outline-warning" @onclick="SendCount" disabled="@(CounterHubState.Value.Connected == false)">Broadcast</button>

@code {

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new CounterIncrementAction());
    }

    private void SaveCount()
    {
        Dispatcher.Dispatch(new CounterPersistStateAction(CounterState.Value));
    }

    private void LoadCount()
    {
        Dispatcher.Dispatch(new CounterLoadStateAction());
    }

    private void ClearCount()
    {
        Dispatcher.Dispatch(new CounterClearStateAction());
    }

    private void SendCount()
    {
        Dispatcher.Dispatch(new CounterHubSendCountAction(CounterState.Value.CurrentCount));
    }
}
