@inherits FluxorComponent

@using BlazorWithFluxor.Client.Features.Counter.Store
@using BlazorWithFluxor.Client.Features.Weather.Store

@inject IState<CounterState> CounterState
@inject IState<WeatherState> WeatherState

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorWithFluxor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter (@CounterState.Value.CurrentCount)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span class="@WeatherItemClass">Weather</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string WeatherItemClass => WeatherState.Value.Loading ? "font-weight-bold" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
